function Reverser.reverse 2
push argument 0
call String.length 1
call String.new 1
pop local 0
push argument 0
call String.length 1
push constant 1
sub
pop local 1
label WHILE_EXP0
push local 1
push constant 0
lt
not
not
if-goto WHILE_END0
push local 0
push argument 0
push local 1
call String.charAt 2
call String.appendChar 2
pop local 0
push local 1
push constant 1
sub
pop local 1
goto WHILE_EXP0
label WHILE_END0
push local 0
return
