function Main.main 1
    call Flappy.newInstance 0
    pop temp 0
    call Flappy.getInstance 0
    pop local 0
    push local 0
    call Flappy.run 1
    pop temp 0
    push local 0
    call Flappy.dispose 1
    pop temp 0
    push constant 0
    return